body {
    background-color: #D4ECDD;
}

#h1 {
    color: teal;
    font-family: fantasy;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

label {
    width: 5cm;
    height: 1cm;
    display: inline-block;
    color: crimson;
    font-family: fantasy;
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 0.5cm;
}

input {
    width: 2cm;
    height: 1cm;
}

#bcalculate {
    font-family: fantasy;
    width: 2cm;
    height: 1cm;
    font-size: 15px;
    color: rgb(141, 2, 255);
}

#oup {
    font-family: fantasy;
    font-size: 25px;
    color: forestgreen;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

#pros {
    width: 100%;
    overflow-x: auto;
    font-size: 20px;
    font-family: fantasy;
    color: forestgreen;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}
