body {
    background-color: #222831;
}

#h1 {
    color: #03C4A1;
    font-family: fantasy;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

label {
    width: 5cm;
    height: 1cm;
    display: inline-block;
    color: #FFF338;
    font-family: fantasy;
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 0.5cm;
}

input {
    width: 2cm;
    height: 1cm;
}

#bcalculate {
    font-family: fantasy;
    width: 2cm;
    height: 1cm;
    font-size: 15px;
    color: #DA0037;
}

#oup {
    font-family: fantasy;
    font-size: 25px;
    color: #F21170;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

#pros {
    width: 100%;
    overflow-x: auto;
    font-size: 20px;
    font-family: fantasy;
    color: #F21170;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}
